@page  {
    width: 21cm;
    height: 29.7cm;
    size: A4;
    margin:0;  
} 

html,body {
    margin:0;
    padding:0;
    height:100%;
}

#app, .appdiv {
    height:100%;
}

svg {
    height:100%;
    width:100%;
    polygon, rect {
	fill:none;
	stroke:black;
	stroke-dasharray: 2;
    }

    
    .in-up-left-right {
    }
}

.print {
    svg {
	height:297mm;
    }
    polygon, rect {
	stroke:none;
	stroke-dasharray:0;
    }
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
    overflow:hidden;
  }
}

.button {
    text-decoration:underline;
    cursor:pointer;
}
